h1{
  text-align: center;
  color: #f7325e;
  font-family: fantasy;
}
h2{
  text-align: center;
  color: #f7325e;
  font-family: fantasy;
  }

  h2{
    text-align: center;
    color: #f7325e;
    font-family: fantasy;
  }
