h1 {
  text-align: center;
  color: #C22D1E;
  font-size: 4em;
  }

  h2 {
    text-align: left;
    color: #C22D1E;
    font-size: 2em;
    }

    h3{
      text-align: left;
      color: #C22D1E;
      font-size: 2em;
      }




body{
  background-image: url(https://media.giphy.com/media/xULW8ppNg4FI8VquKA/source.gif);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Times New Roman", Georgia, Serif;
  color:black;
  font-size: 1.2em;
}
